{% extends "layout.html" %}
  
{% block title %}Description{% endblock %}
{% block lead %}Our introduction{% endblock %}

{% block page_content %}

<style>
  div.col {
    margin-bottom: 30px;
  }
</style>

  <div class="col">
    <h2>Inspiration</h2>
    <hr>
    <p>Our team's project was inspired by a fortuitous event. While interning at the hospital, the project leader met a patient with type 2 diabetes who was diagnosed with diabetes in his thirties. At that time, the patient was hospitalized and treated by metformin, but the effect was not good until he was readmitted to the hospital due to dizziness last year. And there are many complications, including coronary heart disease, peripheral neuropathy, cerebral infarction, poor skin healing, and so on. At this time, the project leader realized the high cost and inefficiency of traditional treatments, and through research, the person in charge learned about the excellent prospects of GLP-1 for the treatment of type 2 diabetes, and formed this team, hoping to use their own strength to help patients with type 2 diabetes, including the aforementioned type 2 diabetes, to improve the current situation.</p>

  </div>


  <div class="col">
    <h2>What is Type 2 Diabetes? （T2DM）</h2>
    <hr>
   <p>With the improvement of global living standards, diabetes has gradually risen as one of the major threats to human health. According to its pathogenesis, diabetes can be divided into type 1 diabetes mellitus (T1DM) and type 2 diabetes mellitus (T2DM). The former is mainly due to autoimmune factors leading to the destruction of pancreatic islet β cells, resulting in insulin deficiency; The latter, on the other hand, stems from insulin resistance in the body, leading to a cascade of disorders in glucose and lipid metabolism. According to the World Health Organization (WHO), more than 95% of people with diabetes exhibit symptoms of T2DM, including children. In addition, the incidence of T2DM is increasing every year in various regions of the world. Therefore, it has become an urgent task to find more promising ways to deal with the effects of T2DM.</p>
    
   <figure class="figure">
    <img alt="picture-2" class="rounded mx-auto d-block" src="https://static.igem.wiki/teams/5161/description/newchange1.webp">
    <figcaption class="figure-caption">（Pathogenesis of diabetes）</figcaption>
  </figure>
  </div>


  <div class="col">
    <h2>Mainstream treatments</h2>
    <hr>
   <p>Currently, the mainstay of treatment for diabetes is insulin injection, which has limited therapeutic effect on T2DM. People with T2DM need lifelong medication to lower blood sugar levels and relieve cellular insulin resistance. Common drugs include metformin, sulfonylureas, and sodium-glucose cotransporter 2 (SGLT-2) inhibitors. Over the past few years, researchers have been exploring new ways to enhance existing T2DM treatments and have conducted more than three dozen clinical studies. Among them, the modulation of the gut microbiome and novel receptor agonists show promise as therapeutic prospects.</p>
  </div>

  <div class="col">
    <h2>Our solution</h2>
    <hr>
    <p>The role of microbiome and receptor agonists in regulating a range of intracellular responses caused by T2DM is of interest to us. First, the gut microbiome is not directly involved in intracellular glucose and lipid metabolism, but rather indirectly through secretions that can be absorbed by the intestinal epithelium. After further research, short-chain fatty acids (SCFAs) became our star compounds, mainly composed of small soluble carboxylic acids (such as butyric acid and propionic acid) secreted by microorganisms. Existing studies have shown that SCFAs can regulate gastrointestinal hormone secretion, improve insulin sensitivity, and reduce lipid synthesis. Glucagon-like peptide-1 (GLP-1) is a hormone secreted by intestinal L cells with receptor agonist properties that helps improve blood sugar control, reduce food intake, and reduce body weight. The combination of GLP-1 with SCFAs has shown potential for synergistic effects in the treatment of T2DM.</p>
    <p>However, both obtaining GLP-1 and artificially remodeling the gut microbiome are expensive and challenging tasks. Although GLP-1-like drugs (such as samaglutide) have been developed to mimic their agonist effects, fear of needles still hinders their further use. Therefore, these methods still need to be further refined.</p>
    <p>Our iGEM team aims to build an enhanced biosynthetic system capable of synthesizing GLP-1 and SCFAs in vivo in a guided manner in a guided manner, maximizing their biological value. We plan to engineer the probiotic strain ECN1917 using an expression vector  (pET28A(+)) with the addition of exogenous BCoAT, GLP-1, and PelB sequences. BCoAT is an acetyl-CoA transferase involved in the biosynthesis of SCFAs. PelB is used to enhance GLP-1 expression.</p>
    
  <figure class="figure">
    <img alt="picture-2" class="rounded mx-auto d-block" src="https://static.igem.wiki/teams/5161/description/newchange2.webp">
    <figcaption class="figure-caption">(Built enhanced biosynthetic systems)</figcaption>
  </figure>

    <p>On the other hand, to ensure that the probiotics we designed were able to enter the circulatory system and enrich in specific organs, we designed a delivery system. Essentially, this is a vesicle made up of a DLPC  membrane that is able to penetrate the intestinal epithelial barrier and target organs such as the liver and pancreas.</p>
    <figure class="figure">
      <img alt="picture-2" class="rounded mx-auto d-block" src="https://static.igem.wiki/teams/5161/description/newchange3.webp">
      <figcaption class="figure-caption">(Probiotic delivery system)</figcaption>
    </figure>


    <p>This is not the final solution. In the future, we can further enhance the safety of engineered bacteria in vivo by designing a more ideal control expression system, and provide a more reliable solution for the treatment of T2DM.</p>
<p>The BCoAT gene (β-carboxy-CoA transferase gene) is derived from Escherichia coli K-12 BSL1: this gene is used to construct the protein structural basis of β-carboxy-CoA transferase (BCoAT) and to design the generation of new functional enzymes through computational modeling and evolutionary processes. BCoAT plays an important role in cellular metabolic pathways and may be used in synthetic biology projects for metabolic engineering or biosynthetic purposes.</p>
<p>The GLP-1 gene (glucagon-like peptide-1 gene) is derived from the human genome: GLP-1 is a glucagon-like peptide synthesized in pancreatic cells that plays an important role in blood glucose regulation. Through in silico simulation and evolutionary design, variants of the GLP-1 gene may be used to develop more stable or potent GLP-1 analogues for diabetes treatment or other related medical applications.</p>
  </div>



{% endblock %}
