body {
    padding-top: 56px; 
    background-attachment: fixed;
    background-image: url("../static/bg.webp");
}
.left-aligned { margin-left: auto; }
.bg-dark { 
    background-color: #343a40 !important;
    box-shadow: 10px 0 5px #000000;

}
.bg-hero { 
    background-color: rgb(51, 51, 51);
    box-shadow: 10px 0 5px #000000;
    position:sticky;
    top:-150px; 
    /* + 48px */
    background-size:cover;
 }
 .bg-heor .container{
    z-index:99;
 }
 .bg-hero h1{
    color:white;
    font-weight: 500;
    text-shadow: #000000 1px 1px 3px;
    z-index:99;

 }
 .bg-hero p{
    color:white;
    text-shadow: 2px 2px 2px black;
    z-index:99;

 }

/* CALLOUT */
.bd-callout { padding:1.25rem; margin-top:1.25rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom:.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f }

img:not(footer img,.home img){
    border:solid 2px white;
    width:50vw;
    margin:2vh 0;
    box-shadow: 3px 3px 3px #000000;
}

figure{
    width:100%
}
figure figcaption{
    text-align: center;
}
.content-container{
    width:80vw;
    margin:auto;
}
footer img{
    width:auto
}
.to-top{
    height:48px;
    position:absolute;
    padding-right:100px;
    padding-top:10px;
    bottom:-0;
    display:none;
    filter: drop-shadow(3px 3px 4px black);
    z-index:99;
    width: 100%;
    text-align: right;
    backdrop-filter: blur(5px);

}
.home{
    z-index: -10
}
iframe{
    box-shadow: 1px 1px 1px #000000;
    border:solid 2px white;
}
.blur-layer{
    margin:0;
    padding:0;
    backdrop-filter: blur(5px);
    z-index:-99;
}

.table-container{
    background-color: white;
}


/* members */
/* image */
.members-page figure img{
    width:20vw;
}
/* name */
.members-page figure figcaption:first-of-type{
    font-size: larger;
    font-weight: bold;
    text-shadow: #000000 2px 2px 3px;
    color: white;
}
/* self-introduction */
.members-page figure figcaption:last-child{
    color: black;
    /* text-shadow: #ffffff 1px 1px 1px; */
    border-radius: 10px;
    backdrop-filter:blur(10px);
    z-index:-10;
}

.members-page figure figcaption{
    position: relative;
    z-index: -10;
    padding:0 2vw;
}

.secondary-pi-members-outer{
    column-width:25vw;
}
.secondary-pi-members-outer>div{
    width:20vw; /*宽度根据实际情况调节，应与上面一致*/
    overflow:auto; /*防止内容溢出导致布局错位*/
}

.student-members-outer{
    column-width:20vw;
}
.student-members-outer>div{
    width:20vw; /*宽度根据实际情况调节，应与上面一致*/
    overflow:auto; /*防止内容溢出导致布局错位*/
}
/* footer */
footer a { color: white; font-weight: bold; text-decoration: none; }
footer a:hover { color: white; text-decoration: underline; }
